@import './base.css';
 @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200&display=swap');

 body{
  font-family: 'Kanit', sans-serif;
  margin: 0 !important;
  overflow-x: hidden !important;
 }


a,
.green {
  text-decoration: none;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
  }
}
